<tr>
  <td>
    <%= job_offer.id %>
  </td>
  <td>
    <%= job_offer.name %>
  </td>
  <td>
    <%= job_offer.description %>
  </td>
  <td>
    <%= link_to "Editar oferta de empleo", edit_admin_job_offer_path(job_offer) %> |
    <%= link_to "Eliminar oferta de empleo", admin_job_offer_path(job_offer), method: :delete, 'data-confirm' => '¿Estás seguro?' %>
  </td>
</tr>
