<%= simple_nested_form_for [:admin, @job_offer] do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">

      <%= f.input :name, wrapper_html: {class: 'form-group'}, input_html:{class: 'form-control'} %>
      <%= f.input :description, as: :ckeditor, input_html: {ckeditor: {toolbar: 'Basic'}} %>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <%= f.seasons_for @job_offer %>
    </div>
  </div>

  <%= f.button :submit, t('wilson_cms.admin.shared.actions.submit'), class: 'btn btn-primary' %>

<% end %>
